<h1>Pages#contact</h1>

<p><%= number_to_phone "5555555555" %></p>

<p><%= number_to_currency "150" %></p>

<p><%= number_to_percentage "80.4" %></p>

<p><%= number_with_delimiter "165469543654" %></p>
<p><a href="mailto:notarealemail@really.com?subject=PortfolioContact" "email me">Email me although this is not an email</a> </a></p>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3315.0084026457785!2d-117.92116824898795!3d33.81209623769906!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80dcd7d12b3b5e6b%3A0x2ef62f8418225cfa!2sDisneyland+Park!5e0!3m2!1sen!2sus!4v1500390102852" 
width="450" height="450" frameborder="0" style="border:0" 
allowfullscreen></iframe>